target-version = "py312"
line-length = 100

[lint]
select = [
    "E",    # pycodestyle errors
    "F",    # pyflakes
    "W",    # pycodestyle warnings
    "I",    # isort
    "N",    # pep8-naming
    "UP",   # pyupgrade
    "B",    # flake8-bugbear
    "A",    # flake8-builtins
    "SIM",  # flake8-simplify
    "TCH",  # flake8-type-checking
]
ignore = []

[lint.isort]
known-first-party = ["atlas_mcp"]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
